.App {
  text-align: center;
  background-color: #b6bcfa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #28342d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color1{
  background-color: rgb(250, 95, 204);
}

.color2{
  background-color: rgb(99, 212, 146);
}

.color3{
  background-color: rgb(128, 195, 240);
}

.color4{
  background-color: rgb(245, 238, 148);
}

.color5{
  background-color: rgb(255, 148, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
